# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
/venv/

# Environment variables
.env

# Database files
*.db
*.sqlite
/database/

# Distribution / packaging
/dist/
/build/
